.banner {
    text-align: center; /* Centra horizontalmente la imagen */
    margin-bottom: 20px; /* Ajusta el espacio entre el banner y el contenido de la encuesta */
    position: relative; /* Establece la posición como relativa para poder posicionar elementos internos */
  }
  
  .banner img {
    max-width: 70%; /* Ajusta el tamaño máximo de la imagen al ancho del contenedor */
  }

  .encuesta-text {
    position: absolute; /* Establece la posición como absoluta */
    top: 50%; /* Coloca el texto en el centro vertical */
    left: 50%; /* Coloca el texto en el centro horizontal */
    transform: translate(-50%, -50%); /* Centra el texto completamente */
    background-color: white; /* Fondo blanco */
    padding: 10px 20px; /* Ajusta el padding del rectángulo */
    font-size: 150px; /* Tamaño del texto */
    font-weight: bold; /* Peso del texto */
    color: black; /* Color del texto */
    border-radius: 5px; /* Ajusta el radio de los bordes del rectángulo */
    font-family: 'Insanibc', sans-serif
  }

