body.encuesta-page {
    background-image: url('/public/assets/Back.jpg'); /* Reemplaza 'tu-imagen-de-fondo.jpg' con el nombre de tu imagen */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }