.banner {
  text-align: center; /* Centra horizontalmente la imagen */
  margin-bottom: 20px; /* Ajusta el espacio entre el banner y el contenido de la encuesta */
  position: relative; /* Establece la posición como relativa para poder posicionar elementos internos */

  /* Ajusta el tamaño del contenedor del banner en relación con la imagen */
  width: 100%; /* Ancho del contenedor al 100% */
  max-height: 300px; /* Altura máxima del contenedor (ajusta según tus necesidades) */
  overflow: hidden; /* Oculta el contenido que sobresalga del tamaño del contenedor */
}
  
.banner img {
  width: 100%; /* Ajusta el tamaño de la imagen al 100% del ancho del contenedor */
  /* Puedes usar la propiedad 'object-fit' para ajustar el comportamiento de la imagen */
  object-fit: cover; /* Cubre el área del contenedor, manteniendo la relación de aspecto */
}

  .encuesta-text {
    position: absolute; /* Establece la posición como absoluta */
    top: 50%; /* Coloca el texto en el centro vertical */
    left: 50%; /* Coloca el texto en el centro horizontal */
    transform: translate(-50%, -50%); /* Centra el texto completamente */
    background-color: white; /* Fondo blanco */
    padding: 10px 20px; /* Ajusta el padding del rectángulo */
    font-size: 90px; /* Tamaño del texto */
    font-weight: bold; /* Peso del texto */
    color: black; /* Color del texto */
    border-radius: 5px; /* Ajusta el radio de los bordes del rectángulo */
    font-family: 'Insanibc', sans-serif
  }


  .encuesta-content-container {
    margin-left: 20px; /* Ajusta el margen izquierdo según tus necesidades */
  }


/* Boton Back*/
.button_back {
  --primary-color: #000;
  --secondary-color: #fff;
  --border-color: #000;
  background-color: var(--primary-color);
  border: 2px solid var(--border-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.button_back::before {
  content: "";
  display: block;
  position: absolute;
  top: -100%;
  left: 50%;
  width: 150%;
  height: 150%;
  background-color: var(--secondary-color);
  border-radius: 50%;
  transform: translate(-50%, 0) scale(0);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.button_back:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transform: translateY(-5px);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.button_back:hover::before {
  transform: translate(-50%, -50%) scale(2);
}

.button_back:active {
  transform: translateY(0);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Boton Next*/
.button_next {
  --primary-color: #000;
  --secondary-color: #fff;
  --border-color: #000;
  background-color: var(--primary-color);
  border: 2px solid var(--border-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease-in-out;

  margin-left: 10px;
}

.button_next::before {
  content: "";
  display: block;
  position: absolute;
  top: -100%;
  left: 50%;
  width: 150%;
  height: 150%;
  background-color: var(--secondary-color);
  border-radius: 50%;
  transform: translate(-50%, 0) scale(0);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.button_next:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transform: translateY(-5px);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.button_next:hover::before {
  transform: translate(-50%, -50%) scale(2);
}

.button_next:active {
  transform: translateY(0);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


/* Separar boton back de next */
.button-container {
  display: flex;
  gap: 10px; /* Ajusta el espacio horizontal entre los botones */
  margin-top: 10px; /* Ajusta el espacio entre los botones y el contenido de la encuesta */
}


/* Boton SENT */
.button_send {
  --primary-color: rgba(227, 220, 220, 0.722);
  --secondary-color: green;
  --border-color: #000;
  background-color: var(--primary-color);
  border: 2px solid var(--border-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease-in-out;

  margin-left: 10px;
}

.button_send::before {
  content: "";
  display: block;
  position: absolute;
  top: -100%;
  left: 50%;
  width: 150%;
  height: 150%;
  background-color: var(--secondary-color);
  border-radius: 50%;
  transform: translate(-50%, 0) scale(0);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.button_send:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transform: translateY(-5px);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.button_send:hover::before {
  transform: translate(-50%, -50%) scale(2);
}

.button_send:active {
  transform: translateY(0);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}