.map-container {
    display: flex;
    justify-content: space-between;
    /* Lo que separa el mapa del logo */
    margin-top: 150px;
  }
  
  .address-container {
    width: 30%;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .address-box {
    font-size: 14px;
    line-height: 1.6;
  }

  #map {
    height: 200px;
    width: 50%;
    margin-right: 10px; /* Agrega un margen derecho para separarlo del cuadro de dirección */
  }