.map-container {
    display: flex;
    flex-direction: column; /* Cambia la dirección de la flexión para apilar los elementos uno encima del otro */
    align-items: center; /* Centra los elementos horizontalmente */
    margin-top: 150px;
  }
  
  .address-container {
    width: 30%;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
  }
  
  .address-box {
    font-size: 14px;
    line-height: 1.6;
  }

  #map {
    height: 300px;
    width: 100%;
    margin-right: 10px; /* Agrega un margen derecho para separarlo del cuadro de dirección */
  }

  .address-image {
    width: 100%; /* Ajusta el ancho de la imagen según lo desees */
    height: auto; /* Para mantener la proporción */
  }