.imagenes-container {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px; /* Espaciado entre las dos filas de imágenes */
  }
  
  /* Estilos para el contenedor de imagen */
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: none;
  }
  
  /* Ajusta el tamaño de las imágenes */
  .image-container img {
    max-height: 100%; /* Ajustar el tamaño máximo al 100% del contenedor */
    width: auto;
    max-width: 100%;
  }
  
  /* Estilos para las imágenes arriba del título */
  .imagenes-container-arriba {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-top: -65px;
  }
  
  /* Estilos para el contenedor de imagen arriba */
  .image-container-arriba {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
  }
  
  /* Ajusta el tamaño de las imágenes arriba */
  .image-container-arriba img {
    max-height: 100%; /* Ajustar el tamaño máximo al 100% del contenedor */
    width: auto;
    max-width: 100%;
    object-fit: contain; /* Usar "contain" para mantener la relación de aspecto */
  }
